$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiaryTrans: rgba(153, 226, 208, .3);
$bckgrnd_Grey: #EAEAEA;
$bckgrnd_Black: rgba(50,50,50,.3);
$white: #FFFFFF;
$spinCycle: 1500ms;
$intro: 1;


@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center; 
}
@mixin trans {
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) span {
            @if $i == 1 {
                //visibility: hidden;
                //animation: leftBound 0ms ease-out $spinCycle*3 forwards;
                background: linear-gradient(rgba(153, 226, 208, .45));
                background-image: url(../Resources/images/restaurants/#{$i}.jpg);
                z-index: -1;
                width: 100%;
                height: 70.6vh;
                position: absolute;
                top: 16vh;
                left: 0vw;
                color: transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: none;
                opacity: 0;
                padding-bottom: 0px;
                margin-bottom: 0px;
                
                
                
                -webkit-backface-visibility: hidden;
                -webkit-animation: imageAnimation 24s linear infinite 0s;
                -moz-animation: imageAnimation 24s linear infinite 0s;
                -o-animation: imageAnimation 24s linear infinite 0s;
                -ms-animation: imageAnimation 24s linear infinite 0s;
                animation: imageAnimation 24s linear infinite 0s;
            }@else {
                background: linear-gradient(rgba(153, 226, 208, .45));
                background-image: url(../Resources/images/restaurants/#{$i}.jpg);
                z-index: -1;
                width: 100%;
                height: 70.6vh;
                position: absolute;
                top: 16vh;
                left: 0vw;
                color: transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: none;
                opacity: 0;
                padding-bottom: 0px;
                margin-bottom: 0px;
                -webkit-backface-visibility: hidden;
                -webkit-animation: imageAnimation 24s linear infinite 0s;
                -moz-animation: imageAnimation 24s linear infinite 0s;
                -o-animation: imageAnimation 24s linear infinite 0s;
                -ms-animation: imageAnimation 24s linear infinite 0s;
                animation: imageAnimation 24s linear infinite 0s;
                -webkit-animation-delay: #{($i - 1) *6}s;
                -moz-animation-delay: #{($i - 1) *6}s;
                -o-animation-delay: #{($i - 1) *6}s;
                -ms-animation-delay: #{($i - 1) *6}s;
                animation-delay: #{($i - 1) *6}s;
                
            }
        }
        &:nth-child(#{$i}) div {
            position: absolute;
            right: 4vh;
            bottom: 12vh;
            opacity: 0;
            -webkit-backface-visibility: hidden;
            -webkit-animation: imageAnimation 24s linear infinite 0s;
            -moz-animation: imageAnimation 24s linear infinite 0s;
            -o-animation: imageAnimation 24s linear infinite 0s;
            -ms-animation: imageAnimation 24s linear infinite 0s;
            animation: imageAnimation 24s linear infinite 0s; 
            -webkit-animation-delay: #{($i - 1) *6}s;
            -moz-animation-delay: #{($i - 1) *6}s;
            -o-animation-delay: #{($i - 1) *6}s;
            -ms-animation-delay: #{($i - 1) *6}s;
            animation-delay: #{($i - 1) *6}s;
        }
    }
}

@mixin theWorks {
    @for $i from 1 through 3 {
        &_#{$i} {
            @include centering;
            @include shadows(darken($bckgrnd_Grey, 20%), .5vh);
            justify-content: flex-start;
            display: flex;
            background-color: $bckgrnd_Grey;
            width: 40vw;
            height: 5vh;
            margin-bottom: 2.5vh;
            border-radius: 5vh;
            
            @for $j from 1 through 2 {
                &_#{$j}{
                    margin-right: 1vw;
                    @include centering;
                    
                    @if $j == 1 {
                        background-color: $primary;
                        color: $white;
                        font-size: .75em;
                        height: 2vh;
                        width: 2vh;
                        border-radius: 5vh;
                        margin-left: -.5vw;
                    }
                }
            }           
        }
        

    }
}
@mixin keys{
    0% {opacity: 0; -webkit-animation-timing-function: ease-in;}
    12.5% {opacity: 1; -webkit-animation-timing-function: ease-out;}
    25% {opacity: 1}
    37.5% {opacity: 0}
    100% {opacity: 0}
}
@mixin shadows($color: lighter($color), $size: $size) {
    box-shadow: 0px $size $size lighter($color);
}
@mixin maps {
    @for $i from 1 through 4 {
        &_#{$i} {
            background-image: url(../Resources/images/restaurants/#{$i}#{$i}.jpg);
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 5vh 5vh 0vh 0vh;
            height: 27vh;
        }
    }
}


@-webkit-keyframes imageAnimation {
    @include keys;
}
@-moz-keyframes imageAnimation {
    @include keys;
}
@-o-keyframes imageAnimation {
    @include keys;
}
@-ms-keyframes imageAnimation {
    @include keys;
}
@keyframes imageAnimation {
    @include keys;
}
@-webkit-keyframes leftBound{
    0% {
    }

    100% {
        visibility: visible;
    }
}
@-moz-keyframes leftBound{
    0% {
    }

    100% {
        visibility: visible;
    }
}
@-o-keyframes leftBound{
    0% {
    }

    100% {
        visibility: visible;
    }
}
@-ms-keyframes leftBound{
    0% {
    }

    100% {
        visibility: visible;
    }
}
@keyframes leftBound{
    0% {
    }

    100% {
        visibility: visible;
    }
}





@function lighter($color){
    @if ( lightness($color) < 25% ) {
      @return lighten($color, 20%);
  }
    @else {
      @return darken($color, 20%);
  }
}








html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.head {
    @include centering;
    @include shadows($primary, .25vh);
    background-color: #EAEAEA;
    justify-content: space-between;
    height: 10vh;
    z-index: 2;
    position: relative;
    &_back {
        visibility: hidden;
    }
}
.location {
    height: 6vh;
    background-color: lighten($primary, 2%);
    @include centering;
    @include shadows($primary, .5vh);
    z-index: 0;
    &_layout {
        @include centering;
        @include shadows($primary,.25vh);
        position: relative;
        background-color: $bckgrnd_Grey;
        padding: 10px;
        border-radius: 20px;
        border-color: darken($bckgrnd_Grey, 10%);
        border-style: solid;
        width: fit-content;
        &_icon {
            margin-right: 10px;
        }
    }
}

.bodyDiv {
    height: 69vh;
    &_slideShow{
        & li {
            @include trans;
            list-style-type: none;
            animation-name: imageAnimation;
        }

    }
    &_text {
        @include centering;
        flex-direction: column;
        margin-top: 5vh;
        font-size: 2em;
        &_info {
            margin-top: 2.5vh;
        }
        &_explore {
            background-color: $primary;
            background: linear-gradient($secondary,$primary);
            padding: 2vh;
            border-radius: 4vh;
            margin-top: 7.5vh;
            @include shadows($primary, .5vh);
            
        }
    }
    &_HowItWorks {
        @include centering;
        flex-direction: column;
        margin-top: 5vh;
        font-size: 1.5em;
        &_list {
            @include theWorks;
            & .phone {
               margin-right: 30px; 
            }
            & .burger {
                margin-right: 20px;
            }
            & .shop {
                margin-right: 15px;
            }
        }
        
    }
}

.restaurants_div {
    @include centering;
    background-color: $bckgrnd_Black;
    flex-direction: column;
    z-index: -1;
    &_flex {
        background-color: $tertiaryTrans;
        height: 40vh;
        width: 100vw;
        @include maps;
        @include centering;
        &_card {
            background-color: $bckgrnd_Grey;
            margin-top: 2.5vh;
            height: 35vh;
            width: 80vw;
            border-radius: 5vh;
            &_flex {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 1vw;
            }
            div {
                .emptyHeart {
                    display: flex;
                    position: absolute;
                    margin-top: -4vh;
                    left: 11vw;
                    max-width: 40px;
                    &:hover {
                        cursor: pointer;
                    }
                    // &:hover {
                    //     color: transparent;
                    //     display: none;
                    //     background: linear-gradient(180deg, #FF79DA -10%, #9356DC 110%);
                    //     background-image: linear-gradient(180deg, #FF79DA -10%, #9356DC 110%);
                    // }
                }
                .fullHeart {
                    display: flex;
                    position: absolute;
                    margin-top: -4vh;
                    left: 11vw;
                    max-width: 40px;
                    background: linear-gradient(180deg, #FF79DA -10%, #9356DC 110%);
                    background-image: linear-gradient(180deg, #FF79DA -10%, #9356DC 110%);
                    //max-width: 90px;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(0);
                    &:hover {
                        cursor: pointer;
                    }                    
                }
                &:hover > .fullHeart {
                    transform: scale(1.05);
                    transform-origin: 50% 50%;
                    transition: transform 700ms;
                }
                &:hover > .emptyHeart {
                    transform: scale(.96);
                    transition: transform 700ms;
                }
                

            }
        }
        &_names {
            display: flex;
            font-size: 1.5em;
            font-weight: bold;
            line-height: .1vh;
            padding-right: 1vw;
        }
        &_city {
            padding-right: 1vw;
        }
    }
    
}

@keyframes spinCycle{
    0% {
        transform: rotate(0deg);
    }
    70% {
        opacity: 1;
    }
    98% {
        transform: rotate(360deg);
    }
    100% {
        opacity: 0;
        //display: none;
        z-index: -100;
    }
}

.loadingMatrix {
    @include centering;
    z-index: 10;
    position: absolute;
    left: 37.5vw;
    top: 37.5vw;
    // transform: translateX(-50%);
    // transform: translateY(-50%);
    transform: rotate(90deg);
    animation: spinCycle $spinCycle forwards;
    animation-iteration-count: 3;
    .spinner {
        font-size: 25vw;
    }
}
.bodyDiv_slideShow {
    overflow: hidden;

}



.foot {
    background-color: black;
    height: 12vh;
    bottom: 0px;
    color: white;
    padding-top: 1vh;
    @for $i from 1 through 5 {
        &_#{$i} {
            @if $i==1 {
                font-family: 'Shrikhand', cursive;
                padding-left: 100px;
            }@else if $i==5 or $i==4 {
                padding-left: 135px;
            }@else {
                padding-left: 95px;
                display: flex;
                @if $i==2 {
                    & i {
                        margin-right: 27px;
                    }
                }
                @if $i==3 {
                    & i {
                        margin-right: 20px;
                    }
                }
            }
        }
        
    }
    
}