$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiaryTrans: rgba(153, 226, 208, .3);
$bckgrnd_Grey: #EAEAEA;
$bckgrnd_Black: rgba(50,50,50,.3);
$white: #FFFFFF;
$spinCycle: 1500ms;
$intro: 1;